  <div style="background-color: #F8F8FF">
	 <div class="col-all-12 center" style="border-radius: 0px; max-width: 1400px">
		<div class="tier">
			  <div class="col-tier">
          <div class="theme_color_black center-all mt-4 mb-2 light-text-shadow" style="font-size: 32px; line-height: 45px !important">
           Join our pilot program
          </div>
        </div>
        <div class="col-d-4 col-t-10 col-p-12 mb-5 mt-4 px-3 center-all cl_price_nopad">
          <div class="card border-radius-10" style="background-color: #f9f9f9;">
            <div class="card-body p-0 light-box-shadow border-radius-10">
              <div class="col-tier" style="border-bottom: 1px solid rgba(220, 220, 220, .8); background-color: #e0dedf; border-radius: 10px 10px 0px 0px">
                <p class="center-all theme_color_black text-huge mt-3 mb-0 roboto">
                  Free for 90 Days
                </p>
                <br>
                <div class="col-tier">
                  <small class="center-all mb-3">*No credit card required.</small>
                </div>
              </div>
              <div class="col-tier">
                <p class="center-all theme_color_black text-xxbig mt-2 mb-1 border-bottom b roboto">
                 Features With This Plan
                </p>
              </div>
                <p class="center-all theme_color_black m-0">
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Collaborative Feed</p>
                   <p class="center-all roboto theme_color_black text-xxmedium mb-2">Department Chatrooms</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">GEO Map Interactions</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Cloud Based Archive</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-4">Workplace Directory</p>

                </p>
               <div class="col-tier">
                <p class="center-all roboto theme_color_black text-xxbig mt-2 mb-1 border-bottom b">
                Coming Soon
                </p>
              </div>
                <p class="center-all theme_color_black m-0">
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Polls</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Integrations</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-4">Plus More!</p>
                </p>
              <div class="col-tier pb-2" style="border-top: 1px solid rgba(220, 220, 220, .8);  background-color: #e0dedf; border-radius: 0px 0px 10px 10px">
                <div class="center-all my-3">
                  <div class="buttons-two">
	                  <button class="button-land roboto light-btn-shadow light-text-shadow btn btn-lg center" style="border-radius: 5px; margin-top: 15px" onclick="ml_webform_742238('show');amplitude.getInstance().logEvent('Request A Demo (Features) - Landing Page');"><span>Try now for Free</span></button>
	                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
 </div>