<!--  Page for logging demo admins in to freely use Ossemble Demo workplace without having a login or signup -->

<div class="content">
  <div class="tier">
    <div class="col-tier">
      <h1>
        Please wait a moment while a guest account is created for you.
      </h1>
    </div>
  </div>
</div>