<!--  Main page for admins editing their city profile. (views/admins/registrations/edit.html.erb) -->
<!-- NOTE: This is the new page, overriding Devise's admins_registrations 
      CSS can be found in admins.css.scss -->



<!--  Begin - Form_For Devise Admin Profile Update.
      "multipart => true" enables uploading of an Avatar -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <div class="col-d-10 col-t-12 col-p-12 center">
      <div class="col-tier">
        <p class="page_info_title text-26">
          Workplace Profile Settings
        </p>
      </div>
      <div id="admin_edit_container" class="card col-tier">
        <div id="accordion_container">
          <%= render 'admins/admin_layouts/personal_admin_update_form' %>
          <!-- Below - Renders public profile section for neighborhood and other fields. Partial determines if it's inside accordion or not Public Profile Section inside the accordion since they already entered their bio and neighborhood.-->
      
          <%= render 'admins/admin_layouts/public_admin_update_form' %>
      
          <!-- Below -  Renders in the contacts an admin has or to create them -->
          <%= render 'admins/admin_layouts/admin_contact_form' %>
        </div>  
      </div> 
      <div class="tier">
        <div class="col-all-12">
          <%= button_to "Delete Profile", admin_registration_path, data: { confirm: "Are you sure you want to delete your profile and account permanently?" }, method: :delete, id: "delete_profile_btn", class: "btn button-up" %>
        </div> 
      </div>
    </div>
  </div> <!-- Main page tier -->
</div>


<script>
  $( function() {
    $( "#accordion_container" ).accordion({
      collapsible: true,
      heightStyle: "content",
      active: 1
      
    });
  } );
  
     
  
  $( function() {
    var titleType = [
      "Mayor",
      "City Administrator",
      "Assistant",
      "Deputy Mayor", 
      "City Planner",
      "Appointed Official",
      "Elected Official",
      "Councilman",
      "Secretary"
    ];
    $( "#city_user_title" ).autocomplete({
      source: titleType
    });
  } );     
  
  $( function() {
    var contactType = [
      "Email",
      "Website",
      "Facebook",
      "Instagram", 
      "Phone Number",
      "Twitter",
      "YouTube",
      "LinkedIn",
      "Snapchat",
      "Location",
      "Address"
    ];
    $( "#admin_contact_name" ).autocomplete({
      source: contactType
    });
  } );
</script>
      
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    $("#img_prev").show();
    $(".img_prev_title").show();
    reader.onload = function (e) {
      $('#img_prev')
        .attr('src', e.target.result)
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>