<!-- Profiles CMS Page for admins dashboard. Goes to admins_controller.rb, route: cities/lakewood/admin/:admin_id/profiles, and file folder: (views/admins/profiles.html.erb).   -->

<!-- Begin - Main content for Profiles page. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Begin - Filter panel rendering -->
    <div class="col-d-2 col-t-10 col-p-12 center">
      <%= render 'layouts/city_dashboard_filter_panel' %>
    </div>
    <div id="ms_ap_content" class="col-d-8 col-t-10 col-p-12 center margin-b-15" style="display: none">
      <h3 class="mt-4">
        Trending Community Score
      </h3>
      <div id="city_ms_cs"></div>
      <h3>
        Page Info
      </h3>
      <div id="city_pi_ms">
      </div>
      <h3>
        Add a City Profile
      </h3>
      <div id="city_add_ms">
      </div>
      <h3>
        Start a Poll
      </h3>
      <div id="city_start_ms">
      </div>
    </div>
    
    <div class="center col-d-7 col-t-10 col-p-12">
      <div class="tier curved_box_top bg-white">
        <div class="col-all-12">
          <p class="theme_color_black trending_font_size pull-left margin-all-10 margin-l-0 text-18">
            Trending Top Complaints
          </p>

        </div>
        <!-- Begin - Rendering of trending top complaints, WUL, and Departments -->
        <div class="card light-box-shadow mt-0 magin-b-10 center-all width-100" style="border: 1px solid rgba(128, 128, 128, .5);">
          <div class="tier margin-y-8 ml-2">
            <p class="text-muted col-all-12 card pr-0 border-none margin-b-0 margin-l-3">
              Top Trending Comp #1
            </p>
          </div>
        </div>
        <div class="card light-box-shadow mt-0 magin-b-10 margin-t-15 center-all width-100" style="border: 1px solid rgba(128, 128, 128, .5);">
          <div class="tier margin-y-8 ml-2">
            <p class="text-muted col-all-12 card pr-0 border-none margin-b-0 margin-l-3">
              Top Trending Comp #2
            </p>
          </div>
        </div>
        <div class="card light-box-shadow mt-0 magin-b-10 margin-t-15 center-all width-100" style="border: 1px solid rgba(128, 128, 128, .5);">
          <div class="tier margin-y-8 ml-2">
            <p class="text-muted col-all-12 card pr-0 border-none margin-b-0 margin-l-3">
              Top Trending Comp #3
            </p>
          </div>
        </div> 
      <!-- End - Rendering of trending top complaints, WUL, and Departments -->
      </div>
      <div class="tier curved_box_bottom bg-white"></div>
    
      <div class="col-tier mt-0">
        <div class="col-all-12">
          <div class="card light-box-shadow p-2" style="border: 1px solid rgba(128, 128, 128, .5);">
          This is where the Complaint Actions / Show Page Card goes
          </div>
        </div>
      </div>
    </div>
    <!-- Below -  Render in action panel -->
    <%= render 'layouts/city_dashboard_action_panel' %>
  </div> <!-- Main page tier -->
</div>