<%= render 'layouts/learn_more_navbar' %>
<!-- About Us page from Visitor's Controller, views/visitors/about. -->
<!-- Begin - Main content for community score page. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Begin - Filter panel rendering -->
    <div class="col-d-2 col-t-10 col-p-12 center">

    </div>
  <!-- These divs might be used for using the right side to the top  
    <div id="" class="col-d-6 col-t-10 center" style="display: none;">
      <div>  
        <div id="">
        </div>
        <div id="">
        </div>
      </div>
      <div>
        <div id="">
        </div>
        <div id="" class="mb-5">
        </div>
      </div>
    </div>
  -->
  <div id="newlanding2" class="center col-d-8 col-t-10 col-p-12 mt-4">
     <div class="">
        <div class="card margin-b-30" id="sales-summary">
          <div class="title">
            <h1>Mission</h1>
            <p class="subtitle theme_color_black">Empowering citizens through community dialogue and government cooperation.</p>
          </div>
          <div class="content">
              <br>
              <h1 class = "bold blocks mt-2">Your City, Your Score.</h1>
              <br>
              <p class="text-18">
                Ossemble is the civic engagement network. We amplify every citizens voice by giving them a platform to enact change on the local level. <br>
                <br>
                Everything from citizens crowdsourcing a pothole that is scored upon completion to starting a petition to move your democracy forward.<br>
                <br>
                Potholes may seem trivial, but what happens with the heavier issues?<br>
                <br>
                Like slow moving change, constant flooding, inadequate policing policies, failed schools or lead in our childrens drinking water.<br>
                <br>
                This is why we focus on local government and municipalities.<br>
                <br>
                <%= image_tag "logos/Oss_Prim_Logo.svg", alt: "Icon", class: "ossemble" %>
                Our solution lies in greater civic involvement, transparency, and communication. Ossemble’s features focus on providing people the vehicle to drive change where it’s most impactful.<br>
                <br>
                Local governments have an enormous impact on every level of a republic. Local representation can even challenge federal policies our communities disagree with. The beauty of democracy is that you as a citizen has a voice and that voice is much louder on the local level.<br>
                <br>
                Remember, this is the water we drink, the roads we drive on, the schools we send our children to, and the taxes we pay; this is where we live.<br>
                <br>
              </p>
          </div>
        </div>
      </div>
   </div>
   
  <div id="" class="col-d-2 col-t-10" >
  
  </div>