<!-- Page for executive summary PDF -->
<div class="content">
  <div class="tier">
    <div class="col-all-12">
      <object data='https://s3.us-east-2.amazonaws.com/ossemble-avatars/Executive+Summary+-+1+Page.pdf'
              type='application/pdf'
              width='100%'
              height='1200px'>
      <p>It appears your Web browser is not configured to display PDF files.
      No worries, just <a href='https://s3.us-east-2.amazonaws.com/ossemble-avatars/Executive+Summary+-+1+Page.pdf'>click here to download the PDF file.<a></p>
    </div>
  </div>
</div>
