<%= render 'layouts/learn_more_navbar' %>
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Begin - Filter panel rendering -->
    <div class="col-d-2 col-t-10 col-p-12 center">

    </div>
  <!-- These divs might be used for using the right side to the top  
    <div id="" class="col-d-6 col-t-10 center" style="display: none;">
      <div>  
        <div id="">
        </div>
        <div id="">
        </div>
      </div>
      <div>
        <div id="">
        </div>
        <div id="" class="mb-5">
        </div>
      </div>
    </div>
  -->
  <div id="newlanding2" class="center col-d-8 col-t-10 col-p-12 mt-4">
     <div class="">
        <div class="card margin-b-30" id="">
          <div class="title pb-0" style="border-color: black !important">
            <h1 class="mt-2 mb-3 theme_color_black">FAQ</h1>
          </div>
          <div class="content">
              <p class="text-18 mt-3">
            <section class="text-xmedium bold">How does the score work?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>People reviewing their city is one factor. Another factor is citizens crowdsourcing complaints (like a pothole) that gets score once the city completes it!</li> 
             </ul>
            <section class="text-xmedium bold">My city doesn’t have an account, do they still listen?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>Absolutely! Ossemble has sends everything crowdsourced (Voiced Complaints, Petitions) to your city hall. Via email, mail, telephone, and raven!* We will do everything in our power to ensure your voice is heard.</li> 
             </ul>
            <section class="text-xmedium bold">What is the age for sign up?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>16+. Ossemble believes that it is never too early to get involved in our Nation’s political process.</li> 
             </ul>
            <section class="text-xmedium bold">Why can’t I have a username?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>We ask for your full name to ensure real people are taking part in constructive conversations and kindness.</li> 
             </ul>
            <section class="text-xmedium bold">Do you ask for my address?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>After you create an account make sure you verify your address. This amplifies your voice with your local municipality.</li> 
             </ul>
            <section class="text-xmedium bold">Profile Pic?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>Do your best to have your profile picture show your full face. It helps our online community establish real people and real dialogue.</li> 
             </ul>
            <section class="text-xmedium bold">Why didn’t receive a confirmation email?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>Our bad - <%= link_to "Resend Confirmation Email", new_user_confirmation_path, style: "text-decoration: underline;", class: "theme_color_dark bold" %></li> 
             </ul>
             <section class="text-xmedium bold">I’m a representative for a local municipality, how do I create a city profile?</section>
             <ul class="pl-3 pb-4 pt-1 border-bottom">
              <li>Right here - <%= link_to "City Sign Up Page", new_admin_registration_path, style: "text-decoration: underline;", class: "theme_color_dark bold" %></li> 
             </ul>
            </p>
          </div>
        </div>
      </div>
  <div class="transparent" style="border-top: none !important"></div>
 </div>
 
<div id="" class="col-d-2 col-t-10" >

</div>