  <!-- Begin - Meta data for sharing on facebook and twitter. -->
    <meta property="og:title" content="Ossemble">
    <meta property="og:description" content="Your City, Your Score.
     Empowering citizens’ influence through community dialogue and government cooperation.">
    <meta property="og:image" content=
     "https://s3.us-east-2.amazonaws.com/www.ossemble.com/images/owl_login_logo.png">
    <meta property="og:url" content=
     "https://www.ossemble.com/"> 
    <meta property="og:type" content="website">
  <!-- End - Meta data for sharing on Facebook and twitter. -->
    
<!-- Begin - Index Splash Landing Page (views/visiotrs/index.html.erb)-->
    <div id="newlanding" class="content-fluid pt-0 px-0">

        <div id="index-bg" class="content-fluid">
					<h2 class="blocktext" style="padding-top: 35px !important; text-shadow: black 1px 1px 2px;">Ossemble Public</h2>
					<h1 class="blocktext" style="text-shadow: black 1px 1px 2px;">The Social Network For Your City</h1><br>
         <div class="col-all-12 mt-5">
         <div class="col-tier">
         <div class="center-all col-d-6 col-t-6 col-p-12 landingt-1">
           <p class="text-white text-20 mb-0" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Crowdsource potholes, petitions for change or simply review your city</p>
           <p class="text-white text-20 mb-0 mt-3" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Join fellow residents by creating a free account</p>
           <div class="mb-2">
            <%= link_to new_user_registration_path, id: "join-us-btn1" do %>
	            <button onclick="amplitude.getInstance().logEvent('Join Us - Landing Page');" class='button-one light-text-shadow light-box-shadow mb-5 margin-t-15 border-radius-5'>
		            Join Us
	            </button>
            <% end %>
           </div>

         </div>
           <div class="col-d-6 col-t-6 col-p-12 landingt-1 center-all">
           </div>
            <div class="col-d-6 col-t-6 col-p-12 landingt-2 pull-right pr-5">
           </div>
         <div class="pull-left col-d-6 col-t-6 col-p-12 pl-5 landingt-2">
           <p class="text-white text-20 mb-0" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Crowdsource potholes, petitions for change or simply review your city</p>
            <p class="text-white text-20 mb-0 mt-2" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Join fellow residents by creating a free account</p>
           
           <div class="">
             <%= link_to new_user_registration_path, id: "join-us-btn2" do %>
	            <button onclick="amplitude.getInstance().logEvent('Join Us - Landing Page');" class='button-one light-text-shadow light-box-shadow margin-t-15 border-radius-5' style="margin-bottom: 45px">
		            Join Us
	            </button>
             <% end %>
           </div>
          
         </div>
         
         </div>
           </div>       
        </div>
        <div style="background-color: #F8F8FF;">
	     <div class="container-1 border-top"> 
        <div class="col-all-12 center-all" style="max-width: 1000px;">
          <div class="tier">
            <div class="col-d-6 col-t-6 col-p-12" style="float-left;">
            <h1 class="block1 center-all mt-5" style="">Collaborate</h1>
            <div class="def-text center-all p-0 pr-0">
              <p class="def-text">
                Crowdsource ideas that move your city forward <br> Gather signatures for change <br> Help others understand what you love about your city                
              </p> 
            </div>
            </div>
          	<div class="col-d-6 col-t-6 col-p-12 center-all ms_vid_mb" style="float-right">
           		<i class="fas fa-handshake center-all theme_color_dark" style="font-size: 180px; margin-top: 40px"></i>
          	</div>
          </div>
        </div>
       </div>
       <div class="container-1 border-top"> 
        <div class="col-all-12 center-all" style="max-width: 1000px;">
          <div class="tier">
           	<div class="col-d-6 col-t-6 col-p-12 center-all" style="float-right">
           		<i class="fas fa-comments center-all theme_color_dark" style="font-size: 180px; margin-top: 40px"></i>
            </div>
            <div class="col-d-6 col-t-6 col-p-12" style="float-left;">
            <h1 class="block1 center-all mt-5" style="">Better Conversation</h1>
            <div class="def-text center-all p-0 pr-0">
              <p class="def-text">
                Recognition for kindness, constructive conversations and contribution <br> Robust reporting for toxic comments <br> Real people, real profiles
              </p>
            </div>
            </div>
          </div>
        </div>
       </div>
       <div class="container-1 border-top"> 
          <div class="col-all-12 center-all" style="max-width: 1000px;">
            <div class="tier">
            <div class="col-d-6 col-t-6 col-p-12" style="float-left;">
              <h1 class="block1 center-all mt-5" style="">Connect</h1>
              <div class="def-text center-all p-0 pr-0">
                <p class="def-text">
                  Local officials have a place to hear your voice <br> Better understand the inner workings of your city <br> Stay up to date with important news and events                
                </p> 
              </div>
            </div>
            <div class="col-d-6 col-t-6 col-p-12 center-all" style="float-right; height: 100% !important">
           		<i class="fas fa-user-tie center-all theme_color_dark" style="font-size: 180px; margin-top: 20px; margin-bottom: 20px;"></i>
            </div>
            </div>
          </div>
        </div>	    
	    

        </div>
            
        <div class="container-1 border-top"> 
           
            <div class="col-all-12 center-all" style="max-width: 1400px;">
            <div class="tier" >
            <div class="col-all-12">
            <h1 class="block1 center-all col-all-10 pt-3" style="">Have your voice heard</h1>
            <div class="def-text p-0 pr-0">
              <p class="def-text center-all col-all-8 mb-0">
                <b>Ossemble</b> is a social network for your city. We amplify everyone’s voice by giving them a platform to enact change on the local level.
              </p> 
              <p class="def-text center-all col-all-8 mt-0 pt-0 mb-4">
                Make an impact now by crowdsourcing new ideas, conversations or a petition that moves our democracy forward.              
              </p>
              <div class="card-body bg-white col-all-6 center-all" style="border: 1px solid rgba(128, 128, 128, .3)">
                <p class="theme_color_black center-all text-18 mb-3">
                  See Ossemble in action and explore the site before creating an account.
                </p>
                <%= link_to city_feed_path(City.first), id: "join-us-btn2" do %>
                  <button onclick="amplitude.getInstance().logEvent('Explore - Landing Page');" class='button-one light-text-shadow light-box-shadow mt-3 border-radius-5'>
		                Explore
	                </button>
                <% end %>
              </div>
            </div>
            </div>

            <div class="video col-d-7 col-t-7 col-p-12 center-all ms_vid_mb" style="float-right">

            </div>

            </div>
            </div>
        </div>
        <div class="content-fluid">
          <div class="col-d-10 col-t-12 col-p-12 center-all">
           <%= image_tag "icons/OssembleBanner.png", alt: "Icon", class: "center-all mt-4 mb-0", style: "max-height: 425px; height: 100%; width: 100%;" %>
          </div>
        </div>
        </div>
        

<script>
    var ml_webform_742238 = ml_account('webforms', '742238', 'l6h8p1', 'load');
    ml_webform_742238('animation', 'fadeIn');
</script>

<script>
  const textNode = document.querySelector('#jumbo_main_text,jumbo_slogan_text');
const splitTextArr = textNode.innerText.split(" ");
let finalMarkup = "";
splitTextArr.forEach(buildMarkup);


function buildMarkup(text, index) {
  let spanText;
  (index === 2) ? 
  spanText = "<span>" + text + "</span><br />" : 
  spanText = "<span>" + text + "</span> ";
  
  return finalMarkup += spanText;
}

textNode.innerHTML = finalMarkup;
</script>