<%= render 'layouts/learn_more_navbar' %>
<!-- About Us page from Visitor's Controller, views/visitors/about. -->
<!-- Begin - Main content for community score page. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Begin - Filter panel rendering -->
    <div class="col-d-2 col-t-10 col-p-12 center">

    </div>
  <!-- These divs might be used for using the right side to the top  
    <div id="" class="col-d-6 col-t-10 center" style="display: none;">
      <div>  
        <div id="">
        </div>
        <div id="">
        </div>
      </div>
      <div>
        <div id="">
        </div>
        <div id="" class="mb-5">
        </div>
      </div>
    </div>
  -->
<div class="center col-d-8 col-t-10 col-p-12 mt-4">
  <div class="tier transparent" style="border-bottom: none !important">
    <div class="">
      <p class="text-xlarge theme_color_black light-box-shadow text-align-left" style="margin: 10px !important; margin-left: 17px !important">
        <p class="ms_titles_ml card-title bold" style="color: #585858;">
          <span class="text-large mb-0">Inspiration</span>
        </p>
      </p>
    </div>
  </div>
  <div class="col-d-12 col-t-12 col-p-12 well mb-0 card bg-white pb-0 px-0 mb-5 pt-0">
   <div class="col-tier light-box-shadow">
    <div class="col-tier mb-0" style="width 100% !important">
      <div class="col-all-12 card p-0">
        <div class="card-body text-xbig">
          Ancient Athens is the birthplace of direct democracy, where for the first time in human history the people’s voice was taken into account by its government. A citizen spoke freely and exercised their right to vote within the local <b>Assembly</b> (Gathering of people).
          </div>
        </div>
      </div>
      <div class="col-tier card no-y-border no-border-radius" style="background-color: #F8F9FA !important">
        <div class="col-d-10 col-t-12 col-p-12 center-all">
          <div class="mb-0 card-body no-border-radius">
            <%= image_tag "logos/AC-SVG.svg", alt: "Athenian Council", class: "mb-0 light-outer-box-shadow light-box-shadow center-all", style: "height: 45%; width: 80%" %>
          </div>
        </div>
      </div>
      <div class="col-all-12 card p-0">
        <div class="card-body pt-3 text-xbig">
        <p class="mt-2 mb-0">Ossemble’s functions focus on the assembled score or “up-voting” government assets, citizen complaints and knowledge.</p>
        <p class="mb-2 mt-3">The Athenian Owl (Ossemble’s Logo) represented or accompanied Athena, the goddess of wisdom. The owl’s image was used throughout Ancient Athens on currency, shields, pottery, etc.</p>
      </div>
    </div>
    <div class="col-tier card p-3" style="background-color: #F8F9FA !important; border-top: none !important; border-bottom: none !important; padding-top: 8px !important">
      <div class="tier col-d-5 col-t-6 col-p-10 center-all p-1">
        <div class="col-all-5 center-all theme_color_black text-xmedium" style="margin-left: 0px !important; margin-right: 0px !important"><div class="mb-1 bold">Athenian Coin</div><%= image_tag "logos/Athenian_Coin.png", alt: "Athenian Coin", style:"height: 80px; width: 80px;", class: "ms_owl_coin" %></div>
        <i class="fa fa-arrow-right col-all-2 theme_color_dark text-large" style="margin-top: 20px !important"></i>
        <div class="col-all-5 center-all theme_color_black text-xmedium" style="margin-left: 0px !important; margin-right: 0px !important"><div class="bold" style="margin-bottom: 9px">Ossemble Owl</div><%= image_tag "logos/Owl_FavIcon.png", alt: "Ossemble Logo", style:"height: 70px; width: 70px;", class: "mb-1 ms_owl_logo_ins" %></div>
      </div>
    </div>
        <div class="col-all-12 card p-0">
        <div class="card-body pt-3 text-xbig">
        <p class="mt-2 mb-2">The owl has also been used as a symbol of knowledge and wisdom in current times, depicted in a similar fashion to the use in ancient Greece.</p>
      </div>
    </div>
  </div>
 
 </div>
  <div class="transparent" style="border-top: none !important"></div>
</div>

<div id="" class="col-d-2 col-t-10" >

</div>