<%= render 'layouts/learn_more_navbar' %>
<!-- Main page for legal documents, such as Privacy Policy, Cookies, Terms and Conditions. (Views/visitors/policies.html.erb), visitors#policies, and about/policies. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Begin - Filter panel rendering -->
    <div class="col-d-2 col-t-10 col-p-12 center">

    </div>
  <!-- These divs might be used for using the right side to the top  
    <div id="" class="col-d-6 col-t-10 center" style="display: none;">
      <div>  
        <div id="">
        </div>
        <div id="">
        </div>
      </div>
      <div>
        <div id="">
        </div>
        <div id="" class="mb-5">
        </div>
      </div>
    </div>
  -->
    <div class="center-all col-d-8 col-t-10 col-p-12 margin-b-30 ms_rep_mt">
      
      <%= image_tag "logos/Reputation.jpg", alt: "Reputation", style: "" ,class: "" %>

    </div>
 
    <div id="" class="col-d-2 col-t-10" ></div>
  </div>
</div>
