<%= render 'layouts/learn_more_navbar' %>
<!-- About Us page from Visitor's Controller, views/visitors/about. -->
<!-- Begin - Main content for community score page. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Begin - Filter panel rendering -->
    <div class="col-d-2 col-t-10 col-p-12 center">

    </div>
  <!-- These divs might be used for using the right side to the top  
    <div id="" class="col-d-6 col-t-10 center" style="display: none;">
      <div>  
        <div id="">
        </div>
        <div id="">
        </div>
      </div>
      <div>
        <div id="">
        </div>
        <div id="" class="mb-5">
        </div>
      </div>
    </div>
  -->

<div class="center col-d-8 col-t-10 col-p-12 mt-4">
  <div class="tier transparent" style="border-bottom: none !important">
    <div class="">
      <p class="text-xlarge theme_color_black light-box-shadow text-align-left" style="margin: 10px !important; margin-left: 17px !important">
        <p class="ms_titles_ml card-title bold" style="color: #585858;">
          <span class="text-large mb-0">Ossemble Team</span>
        </p>
      </p>
    </div>
  </div>
  <div class="col-d-12 col-t-12 col-p-12 well mb-0 card well-border bg-white pb-0 mb-5 px-0 pt-0">
   <div class="col-tier">
    <div class="col-tier mb-0" style="width 100% !important">
      <div class="col-all-12 card p-0">
        <div class="card-body text-xbig light-box-shadow tier">
          <p class="text-left mb-0 mt-2"><b style="">Joshua Koszewski: Co-Founder | CEO</b></p> 
          <div class="">
          <p class="">
          <div class="pb-1 pr-4 mt-2" style="float: left">
            <%= image_tag "team/Koszewski_Pic.jpg", alt: "Picture", class: "light-box-shadow mb-0 center-all", style: "border: 1px solid gray; height: 225px; width: 225px;" %>
          </div>
            Joshua Koszewski founded Ossemble in 2017 with his childhood friend Benjamin Broestl. 
            As the CEO Joshua is responsible for the overall vision, marketing, design, and direction for Ossemble. 
            His passion for history and leadership lead him to join the U.S. Army Infantry. 
            During his service, he was a Recon Sniper (U.S. Army Sniper School) and eventually deployed to Afghanistan for active combat duty; until eventually finishing his service in the Ohio National Guard. 
            After his military service, Joshua obtained a B.A. in Operations and Supply Chain Management from Cleveland State University. 
            College ignited his entrepreneurial spirit and his desire to develop the idea for Ossemble alongside Benjamin Broestl.
          </p>
          </div>
          </div>
        </div>
      </div>
    
    <div class="col-tier mb-0" style="width 100% !important">
      <div class="col-all-12 card p-0 my-4">
        <div class="card-body text-xbig light-box-shadow">
          <p class="text-left mb-0 mt-2"><b style="">Benjamin Broestl: Co-Founder | CTO </b></p>
          <p class="" style="">
          <div class="pb-1 pr-4 mt-0 mt-2" style="float: left">
            <%= image_tag "team/Broestl_Pic.jpg", alt: "Picture", class: "light-box-shadow mb-0 center-all", style: "border: 1px solid gray; height: 225px; width: 225px;" %>
          </div>
            Having been close friends for over twenty years, when Joshua approached Benjamin with the idea of Ossemble, he didn’t hesitate to jump onboard. 
            Ben, being more a hardware-oriented nerd, closed his freelance PC repair business to study and learn web programming full-time. 
            Starting with basic HTML/CSS and JavaScript languages, he ventured into Full-Stack Ruby on Rails development to build a framework for Ossemble, all the while racking up web developing certifications. 
            He is a creator at heart; originally being a professional hardware reviewer for multiple manufacturers and retailers, as well as writing freelance nerd-culture articles for e-mag gaming websites. 
            Now, Ben leads the engineering and technical side of Ossemble, programming governmental transparency, and accountability into the social network.
          </p>
          </div>
        </div>
      </div>
      
    <div class="col-tier mb-0" style="width 100% !important">
      <div class="col-all-12 card p-0">
        <div class="card-body text-xbig light-box-shadow">
          <p class="text-left mb-0 mt-2"><b style="">Matthew Deetz: Website Designer | Site Analytics </b></p>
          <p class="" style="">
          <div class="pb-1 pr-4 mt-0 mt-2" style="float: left">
            <%= image_tag "team/Deetz_Pic.jpg", alt: "Picture", class: "light-box-shadow mb-0 center-all", style: "border: 1px solid gray; height: 225px; width: 225px;" %>
          </div>
            Matt joined Ossemble early on despite having little programming experience. 
            Matt also has been friends with Josh and Ben since grade school, so when the idea of joining them was pitched, he started hastily learning front-end programming and design.
            Having always been fascinated with computers and artistic creation, website design became a natural fit. 
            Even though he studied at The University of Akron, that path did not allow him to express his creativity the way website design does.
            Through self-taught studying, Matt’s primarily responsible for aesthetics, ease of use, UI, SEO, and data analysis. 
            In his free time, he enjoys painting and writing, using these passions as a benchmark when designing Ossemble.
          </p>
          </div>
        </div>
      </div>

  </div>
 
 </div>
  <div class="transparent" style="border-top: none !important"></div>
</div>

<div id="" class="col-d-2 col-t-10" >

</div>