<div class="content" style="margin-bottom: 150px !important">
  <div class="tier">
    <div class="col-all-10 center">
      <div class="col-tier margin-t-25">
        <h2 class="page_info_title">
          Create a Workplace Chatroom
        </h2>
        <p id="notice"><%= notice %></p>
        <%= render 'form', chatroom: @chatroom %>
      </div>
    </div>
  </div>
</div>