<!-- Main partial for rendering the action panel inside admin's workplace pages (views/admins/admin_layouts/_workplace_action_panel.html.erb). -->

<div id="action_panel_desktop" class="col-d-3 padding-t-20">
  <div id="action_panel_org" class="pull-right pl-0 col-all-12">
    <div id="action_panel_top" class="mx-3 pb-0 relative no-border">

    <div class="container">
      <div id="container" class="col-all-12 center">  
      </div>
    </div>  

    </div>
  </div>
</div>  
