<html> 
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
</head>
  <body style="background-color: #EBEDF0">
    <div class="" style="align-items: center; position: relative; text-align: center; margin-left: auto !important; margin-right: auto !important; ">
      <p style="color: #645496; font-size: 28px; margin-top: 15px">Hello, <%= @resource.email %>!</p>
      
      <p style="color: #585858; font-size: 18px">Someone has requested a link to change your password. You can do this by clicking the link below.</p>
      
      <p style="font-size: 20px"><%= link_to 'Change my password', edit_admin_password_url(reset_password_token: @token) %></p>
      
      <p style="color: #585858; font-size: 18px; margin-bottom: 4px;">If you didn't request a password change, please ignore this email.</p>
      
      <p style="color: #585858; font-size: 18px; margin-bottom: 15px; margin-top: 4px;">Your password won't change until you access the link above and create a new one.</p>
      
      <p style="color: #585858; font-size: 18px; margin-bottom: 15px; margin-top: 4px;">Thank you for using Ossemble!</p>
      
      
      <center>
        <img src="https://s3.us-east-2.amazonaws.com/www.ossemble.com/images/Owl_Email_logo.png" style="margin-bottom: 0; margin-top: 15px">     
          <p style="font-size: 20px !important; margin-bottom: 0px !important; padding-left: 0px important!; margin-top: 10px">Ossemble Inc.</p>
            <p style="font-size: 12px !important; margin-bottom: 0px !important; margin-top: 3px !important;">Copyright &copy; 2018</p>
            <p style="font-size: 12px !important; margin-bottom: 15px !important; margin-top: 0px !important;">All rights reserved.</p>


          <a style="color: #645496;"  href="https://www.ossemble.com/about/contact_us">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a style="color: #645496;" href="https://www.facebook.com/ossemble/">Facebook</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a style="color: #645496;" href="https://twitter.com/Ossemble">Twitter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a style="color: #645496;" href="https://www.instagram.com/ossemble/">Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </center>
    </div>   
  </body>
</html>