<!-- Partial rendered in signup and login for all Links Asscoaited with Devise Admins City Profiles, Login, Signup, ETC (admins/shared/_links.html.erb) -->
<div class="content">
  <div class="col-tier">
    <div id="devise_shared_links" class="push-left padding-l-5">
    <!--
      <p class="margin-y-5">
        %= link_to "Not a City? Citizen Login", new_user_session_path, class: "profile_title"  %> 
      </p>
    -->
      <%- if controller_name != 'sessions' %>
      <p class="margin-y-5">
        <%= link_to "Already have a City Profile?", new_admin_session_path, class: "profile_title" %>
      </p>
      <% end -%>
      <p class="margin-y-5">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot password? Reset", new_admin_password_path, class: "profile_title" %><br />
        <% end -%>
      </p>  
      <p class="margin-y-5">
        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to "Didn't receive confirmation email?", new_admin_confirmation_path, class: "profile_title" %><br />
        <% end -%>
      </p>
    </div>
  </div>
</div>
