// Main Stylesheet for Ossembly section and corresponding pages.
  
// Begin - Ossembly - Index Page (views/ossembly/index.html.erb) 

// End - Ossembly - Index Page (views/ossembly/index.html.erb) 

// Begin - Ossembly Topics - Show Page (views/topics/show.html.erb)

// End - Ossembly Topics - Show Page (views/topics/show.html.erb)

// Begin - Ossembly Subtopics - Show Page (views/subtopics/show.html.erb)

// End - Ossembly Subtopics - Show Page (views/subtopics/show.html.erb)

// Begin - Ossembly Posts - Show Page (views/subtopics/show.html.erb)
.ms_post_show_mt {
  margin-top: 22px;
  @media screen and (max-width: 1148px) {
          margin-top: 0px !important;
                                           }
  @media screen and (max-width: 901px) {
          margin-top: 22px !important;
                                           }
  @media screen and (max-width: 401px) {
          margin-top: 22px !important;
                                           }
}

// End - Ossembly Posts - Show Page (views/subtopics/show.html.erb)

// Begin - Ossembly Posts - New & Edit & Form Page (views/posts/new.html.erb), (views/posts/edit.html.erb), (views/posts/_post_form.html.erb)

// End - Ossembly Posts - New & Edit & Form Page (views/posts/new.html.erb), (views/posts/edit.html.erb), (views/posts/_post_form.html.erb)

// Begin - Ossembly Posts - Posts List Partial (views/posts/_posts_list.html.erb)

// End - Ossembly Posts - Posts List Partial (views/posts/_posts_list.html.erb)

// Start Oss Modal CSS //
#osspost-modal { 
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  table-layout: fixed;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  @media screen and (max-width: 600px) {
   padding-top: 45px !important;
   vertical-align: top !important;
                                       }
}

.modal-container {
  width: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

}
// End Oss Modal CSS //

