<!-- Old splash landing page before Asmita's redesign. -->
 <!-- Beginning - JumboTron -->
  <section class="bg-img-fluid d-flex p-2" id="jumbo_container"> 
    <div class="jumbotron" id="main_jumbo">
      <div class="container tint" id="tint">
        <div class="row">
          <h1 id="jumbo_main_text" class="center primary_font"> 
            <span>Welcome</span> <span>to</span> <span>Ossemble</span>
          </h1>
        </div>
        <div class="row my-4">
          <h2 id="jumbo_slogan_text" class="center secondary_font"> 
            <span>The</span> <span>Forum</span> <span>for</span> <span>Local</span> <span>Engagement</span>
          </h2>
        </div>
        <hr>
        <div class="row my-3">  
          
        </div>
        <div class="row my-3">
          <p class="center ms_olw">
            (Only Lakewood, Ohio - Residents Currently)
          </p>
        </div>  
      </div>
    </div>
  </section> <!-- End - JumboTron -->
  
  <!-- Begin - Features & Website Functions List Container -->
<div id="function_wrapper" class="container-fluid well pt-0 no-border-radius">
  <div id="function_body" class="tier">
    <div class="col-all-12">
      <p class="center-all col-all-12 theme_color_black text-xxlarge mt-4 mb-0 p-2 bg-white" style="border: 1px solid rgba(128, 128, 128, .5); border-radius: 10px">
        Features
      </p>
      <div class="col-tier">
    
      <div class="col-d-4 col-t-10 col-p-12 pr-4 center cl_price_nopad">
        <div class="curved_box_top mt-4">
        <div class="col-tier">
           <p class="theme_color_black text-xlarge mt-3">
              Community Score
           </p>
          <div class="col-tier text-left pb-0 ml-1 light-box-shadow p-3" style="border: 1px solid rgba(128, 128, 128, .5)">
            <ul class="mt-2 col-all-12">
              <li class="center-all"><%= image_tag "visitors_index/community_score.png", alt: "Community Score", class: "mb-3" %></li>
              <li class="mb-4 theme_color_black text-xmedium"><b>Showcase</b> ‘What You Love’ about your city.</li>
              <li class="mb-4 theme_color_black text-xmedium"><b>File</b> a complaint that others in the community can endorse.</li>
              <li class="theme_color_black text-xmedium"><b>Rate</b> city departments and services.</li>
            </ul>
          </div>
        </div>
        </div>
       <div class="curved_box_bottom no-top-border margin-b-0"></div>
      </div>
   
      <div class="col-d-4 col-t-10 col-p-12 px-3 center cl_price_nopad">
        <div class="curved_box_top mt-4">
          <div class="col-tier">
           <p class="theme_color_black text-xlarge mt-3">
              Ossembly
           </p>
           <div class="col-tier text-left pb-0 ml-1 light-box-shadow p-3" style="border: 1px solid rgba(128, 128, 128, .5)">
            <ul class="mt-2 col-all-12">
              <li class="center-all"><%= image_tag "visitors_index/community_feed.png", alt: "Community Feed", class: "mb-3" %></li>
              <li class="mb-4 theme_color_black text-xmedium"><b>Endorse</b> causes and ideas that will move your city forward.</li>
              <li class="mb-4 theme_color_black text-xmedium"><b>Conduct</b> conversations about anything everything for your community.</li>
              <li class="theme_color_black text-xmedium"><b>Propose</b> a Petition for change that you want your city to review.</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="curved_box_bottom no-top-border margin-b-0"></div>
      </div>

       <div class="col-d-4 col-t-10 col-p-12 pl-4 center cl_price_nopad">
        <div class="curved_box_top mt-4">
        <div class="col-tier">
           <p class="theme_color_black text-xlarge mt-3">
            Reputation -  
            <div class="animated pulse infinite ml-3 mt-4 text-warning bold text-xxmedium">
                Coming Soon!
            </div>
           </p>
           <div class="col-tier text-left pb-0 ml-1 light-box-shadow p-3" style="border: 1px solid rgba(128, 128, 128, .5);">
            <ul class="mt-2 col-all-12 ">
              <li class="center-all"><%= image_tag "visitors_index/point_system.png", alt: "Point System", class: "mb-3" %></li>
              <li class="mb-3 theme_color_black text-xmedium"><b>We</b> recognize your dedication and commitment for your local community.</li>
              <li class="mb-3 theme_color_black text-xmedium"><b>Gain</b> points by interacting with your fellow citizens in constructive ways.</li>
              <li class="mb-3 theme_color_black text-xmedium"><b>Badges</b> are rewarded for leadership, kindness, communication and more.</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="curved_box_bottom no-top-border"></div>
      </div>

    </div>
    </div>
    <div class="input_row_wrapper col-md-12 center row" style="margin-top: 0px !important; margin-bottom: 5px !important">
      <!-- PROGRAMMERS NOTE: This will eventually be a ERB Link_To Blog Post -->
      <a class="input_btn_body btn btn-info btn-lg center ms_pt" href="/about/communityscore">Learn More</a>
    </div>
    </div>
  </div> 

    <!-- Begin of Enter Your City (Request Area) -->
  <div id="" class="container-fluid no-border-radius">
   <div class="tier">
     <div class="col-d-6 col-t-10 col-p-12 px-3 center">
      <div class="mt-4 py-3 px-4" style="background-color: white; margin-bottom: 15px !important; border: 1px solid rgba(128, 128, 128, .5); border-radius: 10px">
       <div class="tier center">
         <h2 class="text-center center tier text-xlarge theme_font theme_color_black" style="color: #585858; margin-top: 8px !important">What is Ossemble?</h2>
       </div>
        <ul class="center p-3 text-xbig theme_color_black light-box-shadow" style="margin-top: 15px !important; margin-bottom: 10px !important; border: 1px solid rgba(128, 128, 128, .5); list-style: none !important;">
         <li class="ml-3 mb-2"><b>Ossemble</b> is a community driven review site, our goal is to help individuals make an impact and move change forward.</li>   
         <li class="ml-3 mb-2"><b>This</b> is accomplished by focusing on your city of residence. </li> 
         <li class="ml-3"><b>We</b> believe that the best way to impact national change is by first focusing on our local communities.</li> 
        </ul>
          
       </div>
     </div>
    </div>
    
    <div class="tier">
     <div class="col-d-6 col-t-10 col-p-12 center">
      <div class="col-d-6 col-t-6 col-p-12 px-3 push-left">
      <div class="card mt-4 p-3" style="background-color: white; margin-bottom: 15px !important; !important; border: 1px solid rgba(128, 128, 128, .5); border-radius: 10px">
       <div class="tier center margin-t-8">
         <h2 class="text-center center tier text-xlarge theme_font theme_color_black" style="color: #585858;">Request Your City!</h2>
       </div>
        <p class="center p-3 text-big theme_color_black light-box-shadow margin-t-15" style="border: 1px solid rgba(128, 128, 128, .5)">
          If you'd like Ossemble to cover your own city, request it by clicking the button below.
        </p>
        <div class=" col-d-12 row center">
        <div class="input_btn_wrapper col-d-12 center tier margin-t-15 margin-b-10">
        <button onclick="ml_webform_742238('show')" id="request_city_btn" class="input_btn_body btn btn-warning btn-lg center" type="submit">Request City</button>
       </div>
      </div>
     </div>
   </div>
   <div class="col-d-6 col-t-6 col-p-12 px-3 push-right">
    <div class="mt-4 py-3 px-4 margin-b-15 bg-white border-radius-10" style="border: 1px solid rgba(128, 128, 128, .5);">
      <div class="tier center">
        <h2 class="text-center center tier text-xlarge theme_font theme_color_black margin-t-8" style="color: #585858;">Explore</h2>
      </div>
      <p class="center p-3 text-big theme_color_black light-box-shadow margin-t-15" style="border: 1px solid rgba(128, 128, 128, .5)">
        Click below to see Ossemble in action by exploring our founding city, Lakewood, Ohio! 
      </p>
      <div class="input_btn_wrapper col-d-12 center tier margin-t-15 margin-b-10">
        <%= link_to "Explore", city_feed_path(City.find(1)), id: "explore_btn" , class: "text-xlarge input_btn_body btn text-big btn-info btn-lg center" %>
      </div>
    </div>
  </div>
 </div>
</div> <!-- End- Enter your City (Request Area) -->



   <!-- End - Features & Website Functions List Container -->   
  
  <!-- Begin - Subscribe Email Box -->
 <!-- <div id="subscribe_wrapper" class="container-fluid well">
    <div class="alert_body row center">
      <h2 class="text-center center">Stay Informed!</h2>
    </div>
    <div class="alert_box row">
      <div class="alert alert-info text-nowrap text-center hidden-xs hidden-sm center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <span style="">Enter your email address below to ensure you don't miss anything from Ossemble. </span>
      </div>
    </div>
    <div class="input_row_wrapper col-md-12 row center">
      <div class="col-md-12 center row">
        <input type="email" name="email" placeholder="Enter Your Email" id="email_input" class="mb-3 center emailBorder">
      </div>
      <div class="input_btn_wrapper col-md-12 center row">
        <button class="input_btn_body btn btn-success btn-lg center" type="submit">Subcribe</button>
      </div>
    </div>
  </div> -->   <!-- End - Subscribe Box -->


<!-- End of Splash Landing Index Page -->

<script>
    var ml_webform_742238 = ml_account('webforms', '742238', 'l6h8p1', 'load');
    ml_webform_742238('animation', 'fadeIn');
</script>

<script>
  const textNode = document.querySelector('#jumbo_main_text,jumbo_slogan_text');
const splitTextArr = textNode.innerText.split(" ");
let finalMarkup = "";
splitTextArr.forEach(buildMarkup);


function buildMarkup(text, index) {
  let spanText;
  (index === 2) ? 
  spanText = "<span>" + text + "</span><br />" : 
  spanText = "<span>" + text + "</span> ";
  
  return finalMarkup += spanText;
}

textNode.innerHTML = finalMarkup;
</script>