<!-- Page for creating New Reviews for departments within a show page Page for Departments, 
showing every department inside of a city and links to them -->
<div class="tier">
  <%= render 'reviews/review_form' %>
</div>



