<p id="notice"><%= notice %></p>

<!--%= link_to 'Edit', edit_user_review_path(@user, @review) %> | -->
<h2 class="theme_font center-content">
  <p class="center-content">
    Reviews Show Page
  </p>
</h2>
<hr>  
<div class="container">
  <div class="row">
    <h2>
      Description:
    </h2>
  </div>
  <p class="row">
    <%= @review.description %>
  </p>
</div>

