<div class="col-all-12 p-0 new_nav_bar relative" style="top: -19px">
  <div class="card new_nav_bar_style">
    <div class="card-body p-2 center-all tier ">

      <div class="dropdown margin-r-20">
        <button class="button-about light-text-shadow light-box-shadow" style="border-radius: 5px;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us <i class="pl-1 fas fa-caret-down"></i>
        </button>
      
        <div id="about_dropdown_menu" class="dropdown-menu dropdown-menu-left margin-r-10" style="border: 2px solid #645496;" aria-labelledby="dropdownMenuLink">
          <h6 class="dropdown-header center-all p-0 mt-0 roboto bold theme_color_dark" style="font-size: 20px !important; cursor: context-menu !important;"> 
          Explore
          </h6>
          <div class="dropdown-divider"></div>
            <a class="py-3 dropdown-item" href="/about" title=""><i class="fas fa-gavel margin-l-8 margin-r-12"></i>Mission</a>
              <hr />
            <a class="py-3 dropdown-item" href="/inspiration"><i class="fas fa-chess-queen margin-l-8 margin-r-12"></i>Inspiration</a>
              <hr />
            <a class="py-3 dropdown-item" href="/team"><i class="fas fa-users margin-l-8 margin-r-10"></i>Team</a>
        </div>
      </div>
      
      <!--
      <div class="dropdown">
        <button class="button-about light-text-shadow light-box-shadow ms_mx_hiw" style="border-radius: 5px;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          How It Works <i class="pl-1 fas fa-caret-down"></i>
        </button>
      
        <div id="about_dropdown_menu" class="dropdown-menu dropdown-menu-left margin-r-10" style="border: 2px solid #645496;" aria-labelledby="dropdownMenuLink">
          <h6 class="dropdown-header center-all p-0 mt-0 roboto bold theme_color_dark" style="font-size: 20px !important; cursor: context-menu !important;"> 
          Explore
          </h6>
          <div class="dropdown-divider"></div>
            <a class="py-3 dropdown-item" href="/about/city_score"><i class="fas fa-percent margin-l-8 margin-r-12 ms_t_panel_head"></i>City Score</a>
              <hr />
            <a class="py-3 dropdown-item" href="%= about_forum_path %>"><i class="fas fa-clipboard-list margin-l-8 margin-r-12 ms_t_panel_head"></i>Forum</a>
              <hr />
            <a class="py-3 dropdown-item" href="/about/reputation"><i class="fas fa-medal margin-l-8 margin-r-12 ms_t_panel_head"></i>Reputation</a>
        </div>
      </div>
      -->
      <div class="dropdown">
        <button class="button-about light-text-shadow light-box-shadow" style="border-radius: 5px;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More Info <i class="pl-1 fas fa-caret-down"></i>
        </button>
      
        <div id="about_dropdown_menu" class="dropdown-menu dropdown-menu-left margin-r-10" style="border: 2px solid #645496;" aria-labelledby="dropdownMenuLink">
          <h6 class="dropdown-header center-all p-0 mt-0 roboto bold theme_color_dark" style="font-size: 20px !important; cursor: context-menu !important;"> 
          Explore
          </h6>
          <div class="dropdown-divider"></div>
            <a class="py-3 dropdown-item" href="/policies"><i class="fas fa-copyright text-xxbig margin-l-10 margin-r-12 ms_t_panel_head"></i>Policies & Terms</a>
              <hr />
            <a class="py-3 dropdown-item" href="/faq"><i class="fas fa-question-circle text-xxbig margin-l-10 margin-r-12 ms_t_panel_head"></i>FAQ</a>
              <hr />
            <a class="py-3 dropdown-item" href="/contact_us"><i class="fas fa-file-signature text-xxbig margin-l-10 margin-r-12 ms_t_panel_head"></i>Contact Us</a>
        </div>
      </div>
      
    </div>
  </div>
</div>